<header class="site-header">

  <div class="wrapper">

    {% if page.layout != "about" %}
    <span class="site-title">
        {% assign name = site.name | split: ' ' %}
        <a href="{{ site.baseurl | prepend: site.url }}/"><strong>{{ name | first }}</strong> {{ name | last }}</a>
    </span>
    {% endif %}

    <nav class="site-nav">

      <div class="trigger">
        <!-- CV link -->
        <a class="page-link" href="{{ '/assets/pdf/CV.pdf' | prepend: site.baseurl | prepend: site.url }}">cv</a>

        <!-- Blog -->
        <!-- <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">blog</a> -->

        <!-- Pages -->
        <!-- Custom order -->
        <a class="page-link" href="{{ '/research/' | prepend: site.baseurl | prepend: site.url }}">research</a>
        <a class="page-link" href="{{ '/publications/' | prepend: site.baseurl | prepend: site.url }}">publications</a>
        <!-- <a class="page-link" href="{{ '/projects/' | prepend: site.baseurl | prepend: site.url }}">projects</a> -->

        <div class="dropdown page-link">
        <a href="#">personal</a>
          <ul class="dropdown-content">
            <li class="page-link"><a href="{{ '/albums/' | prepend: site.baseurl | prepend: site.url }}">photographs</a></li>
            <li class="page-link"><a href="{{ '/stories/' | prepend: site.baseurl | prepend: site.url }}">stories</a></li>
            <li class="page-link"><a href="{{ '/travels/' | prepend: site.baseurl | prepend: site.url }}">travels</a></li>
          </ul>
        </div>

      </div>
    </nav>

  </div>

</header>
