<!-- Load jQuery -->
<script async src="//code.jquery.com/jquery-{{ site.jquery_version }}.min.js"></script>

<!-- Load Common JS -->
<script async src="{{ '/assets/js/common.js' | prepend: site.baseurl | prepend: site.url }}"></script>

{% if site.enable_katex %}
<!-- Load KaTeX -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ site.katex_version }}/katex.min.css">
<script async src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ site.katex_version }}/katex.min.js"></script>
<script async src="{{ '/assets/js/katex.js' | prepend: site.baseurl | prepend: site.url }}"></script>
{% endif %}

{% if site.enable_anchorjs %}
<!-- Load Anchor JS -->
<script async src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/{{ site.anchorjs_version }}/anchor.min.js"></script>
<script>
  anchors.options.visible = 'always';
  anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>
{% endif %}

<!-- Include custom icon fonts -->
<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ '/assets/css/academicons.min.css' | prepend: site.baseurl | prepend: site.url }}">

<!-- Include custom font -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Poppins:600|Cormorant:400,300i|'Libre+Baskerville':400,400i" />

<!-- Include layout-specific links -->
{% if layout.ext_css %}
	{% for style_file in layout.ext_css %}
	<link href="{{ style_file }}" rel= "stylesheet">
	{% endfor %}
{% endif %}
{% if layout.ext_js %}
	{% for js_file in layout.ext_js %}
	<script async src="{{ js_file }}" type="text/javascript"></script>
	{% endfor %}
{% endif %}


<!-- Include page-specific javascript -->
{% if page.ext_js %}
	{% for js_file in page.ext_js %}
	<script src="{{ js_file }}" type="text/javascript"></script>
	{% endfor %}
{% endif %}
{% if page.custom_js %}
	{% for js_file in page.custom_js %}
	<script src="{{ js_file | prepend: '/assets/js/' | prepend: site.baseurl | prepend: site.url }}" type="text/javascript"></script>
	{% endfor %}
{% endif %}

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-103837423-1', 'auto');
ga('send', 'pageview');

</script>