<div class="photo-container">
{% assign story_path = page.imgdir | prepend: "stories/" |  append: "/" %}
{% assign image_list = include.images | split: ', ' %}
{% for image in image_list %}
	{% assign props = image | split: ' ' %}
	{% assign image_path = props[0] | prepend: story_path | append: '.jpg' %}
	{% assign pos = props[1] %}
	{% case pos %}
		{% when 'full' %}
			{% assign sizes = '100vw' %}
		{% when 'one' %}
			{% assign sizes = '100%' %}
		{% else %}
			{% assign sizes = '(min-width: 48em) 49.5%, 100%' %}
	{% endcase %}
	<img srcset="{{ image_path | prepend: 'w_2880,c_limit/' | prepend: site.asset_path }}	2880w,
				 {{ image_path | prepend: 'w_1920,c_limit/' | prepend: site.asset_path }}	1920w,
				 {{ image_path | prepend: 'w_1366,c_limit/' | prepend: site.asset_path }}	1366w,
				 {{ image_path | prepend: 'w_850,c_limit/' | prepend: site.asset_path }}	850w,
				 {{ image_path | prepend: 'w_420,c_limit/' | prepend: site.asset_path }}	420w"
		 sizes="{{ sizes }}"
		 src="{{ image_name | prepend: story_path | prepend: site.asset_path }}"
		 class="img-{{ pos }}" />
{% endfor %}
</div>