.site-header {
    border-bottom: 1px solid $grey-color-light;
    background-color: #fff;
    opacity: 0.95;
    position: relative;
    left:0px;
    top:0px;
    width:100%;
    z-index: 50;
}

.site-title {
    font-size: 24px;
    line-height: $nav-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-family: $heading-font-family;
    strong {
        font-weight: 700;
    }
}

.site-nav {
    font-family: $heading-font-family;
    float: right;
    line-height: $nav-height;
    .page-link{
        line-height: $line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    ul{
        list-style:none;
        display:none;
        position:absolute;
        top:100%;
        right:0;
        background:#fff;
        padding:0;
        text-align: right;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown:hover > ul {
        display:block;
    }

    .dropdown-content .page-link{
        padding-top: 1rem;
        margin-left: 0;
    }

    // @include media-query($on-palm) {
    //     position: fixed;
    //     top: 0px;
    //     right: 10px;
    //     text-align: right;
    //     &:hover .trigger {
    //         display: block;
    //         padding-bottom: 5px;
    //     }
    //     .page-link {
    //         display: line;
    //     }
    // }
}

.header-bar{
    border-bottom: 1px solid $light-gray;
    font-size: 20px;
    display: block;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: $space-4;
    line-height: 3em;
    z-index: 25;
    h1{
        color: $theme-color;
        font-size:75px;
    }
    h2{
        font-size:25px;
    }
}
