.story-link {
	position: relative;
	box-sizing: border-box;
    margin: 0.5em auto;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    /*padding-bottom: 80%;*/
    padding-bottom: 50%;

	img {
        position: absolute;
        /*height: 100%;*/
        height: auto;
        width: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
    }

	a {
        float: left;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .overlay {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
    	// display: none;
    	height: 100%;
    	width: 100%;
    	position: absolute;
    }

    &:hover {
    	.overlay{
                background: rgba(0,0,0,0.4);
    	        display: block;
    	}
    }
}

/*.story-link:first-of-type {
	width: 100%;
	padding-bottom: 80%;

	img {
		height: 100%;
	}
}*/

.story-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    color: $white;
}

.story-title {
    margin: 0;
    font-family: Poppins, Open Sans, sans-serif;
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.story-desc {
    margin: 0;
    color: $white;
    font-weight: 300;
    font-style: italic;
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    font-family: Cormorant;
    line-height: 1.5rem;
}

.story-date {
    margin-top: 0.3rem;
    margin-bottom: 0;
    color: $white;
    font-family: Cormorant;
}

/*@media screen and (min-width: $viewport-small) {
	.story-link {
		width: 50%;
		padding-bottom: 50%;	
	}

	.story-link:first-of-type {
		width: 100%;
		padding-bottom: 50%;

		img {
			width: 100%;
			height: auto;
		}
	}
}

@media screen and (min-width: $viewport-medium) {
	.story-link {
		width: 33.33%;
		padding-bottom: 33.33%;
	}
}*/

.story-header {
    margin-top: -40px;
    position: relative;
    overflow: hidden;
    height: 56.25vw;
    max-height: 100vh;

    img {
        position: absolute;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .overlay {
        background: rgba(0,0,0,0.25);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .story-title {
        letter-spacing: 2px;
        font-size: 1.8em;
        line-height: 1.2em;
        margin-bottom: 2vw;
    }

    .story-desc {
        margin: 2vw 0 2vw 0;
        font-size: 1em;
    }

    .story-date {
        margin-top: 2vw;
        font-size: 0.8em;
    }

    @media screen and (min-width: $viewport-small) {
        .story-title {
            letter-spacing: 4px;
            font-size: 2.2em;
            line-height: 6vw;
            margin-bottom: 2vw;
        }
        .story-desc {
            margin-bottom: 4vw;
            font-size: 1.3em;
        }

        .story-date {
            margin-top: 4vw;
            margin-bottom: 4vw;
            font-size: 1em;
        }
    }

    @media screen and (min-width: $viewport-medium) {
        .story-title {
            font-size: 5vw;
        }
        .story-desc {
            font-size: 2.7vw;
        }
        .story-date {
            font-size: 1.8vw;
        }
    }
}

.story-content {
    p {
        letter-spacing: 0.01rem;
        font-size: 1rem;
        line-height: 2rem;
        margin-top: 6rem;
        padding: 0 25px;
    }

    blockquote p {
        margin-top: 0;
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.03rem;
    }

    blockquote {
        margin: 6rem 0;
    }

    img {
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }

    .img-one, .img-left, .img-right, .img-three {
        width: 100%;
    }

    @media screen and (min-width: $viewport-medium) {
        .img-left {
            width: 49.5%;
            float: left;
        }

        .img-right {
            width: 49.5%;
            float: right;
        }

        .img-three {
            width: 32.6%;
            float: left;
            margin-right: 1%;
        }

        .img-three:last-of-type {
            margin-right: 0;
        }

        p {
            padding: 0 75px;
        }
    }

    @media screen and (min-width: $viewport-small) {
        p {
            padding: 0 50px;
        }
    }
}

.img-full {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.photo-container {
    width: 100%;
    overflow: visible;
    margin: 6rem 0;
    
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@media screen and (min-width: 1286px) {
    .photo-container {
        width: 70vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin: 6rem -50vw 6rem -50vw;
        padding: 0 15vw 0 15vw;

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.footnotes {
    text-align: center;
    line-height: 3rem;

    i {
        padding-right: 1rem;
    }
}

.footnotes:after {
    content: " ";
    display: block;
    height: 1px;
    background: #ccc;
    width: 20%;
    margin: 2% auto 0% auto;
}
