#travelmap {
	margin-left: -3em;

	svg {
	  background: #eee;
	}

	.sphere {
	  fill: #fff;
	}

	.land {
	  fill: #ffd6a5;
	}

	.boundary {
	  fill: none;
	  stroke: #fff;
	  stroke-linejoin: round;
	  stroke-linecap: round;
	  vector-effect: non-scaling-stroke;
	}

	.overlay {
	  fill: none;
	  pointer-events: all;
	}
}