---
layout: default
<!-- ext_css:
- https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css
ext_js:
- https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js -->
ext_css:
- ../../assets/css/lightslider.css
ext_js:
- ../../assets/js/lightslider.js
custom_footer:
- albums_script.html
---
<div class="post">
	<header class="post-header">
    	<h1 class="post-title">{{ page.title }}</h1>
  	</header>
  	<ul id="light-slider">
  		{% assign album_path = page.title | prepend: "albums/" | append: "/" %}
		{% for image in page.images %}
		{% assign image_path = image.image_path | prepend: album_path | append: ".jpg" %}
		<li data-thumb="{{ image_path | prepend: 'w_96,c_limit/' | prepend: site.asset_path }}">
			<img src="{{ image_path | prepend: site.asset_path }}">
		</li>
		{% endfor %}
  	</ul>
	<!-- <div class="post-content fotorama clearfix" data-nav="thumbs" data-thumbheight="64" data-thumbwidth="96"
		data-keyboard="true" data-autoplay="8000">
	{% assign album_path = page.title | prepend: "albums/" | append: "/" %}
	{% for image in page.images %}
		{% assign image_path = image.image_path | prepend: album_path | append: ".jpg" %}
		<a href="{{ image_path | prepend: site.asset_path }}"><img src="{{ image_path | prepend: 'w_96,c_limit/' | prepend: site.asset_path }}"></a>
	{% endfor %} -->
	</div>
</div>