---
layout: default
ext_css:
- https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css
ext_js:
- https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js
---
<div class="post">
	<header class="post-header">
    	<h1 class="post-title">{{ page.title }}</h1>
  	</header>
	<div class="post-content fotorama clearfix" data-nav="thumbs" data-thumbheight="64", data-thumbwidth="96">
	{% assign album_path = page.title | prepend: "assets/img/albums/" %}
	{% for image in site.static_files %}
		{% if image.path contains album_path %}
		{% unless image.path contains "thumb" %}
			{% assign thumb_path = image.path | remove: ".jpg" | append: "_thumb.jpg" %}
			<a href="{{ site.baseurl }}{{ image.path }}"><img src="{{ thumb_path }}"></a>
		{% endunless %}
		{% endif %}
	{% endfor %}
	</div>
</div>